@charset "utf-8";
/*
* Template: Teo
* Author: TheCitrusDesign
* Version: 1.0
* Design by: TheCitrusDesign
*/

/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
	01 - Header
	02 - Welcome section
	03 - About
	04 - Services
	05 - Portfolio
	06 - Personal Detail
	07 - Fun Fact
	08 - Testimonial
	09 - Blog
	10 - Single Post
	11 - Newsletter
	12 - Contact
	13 - Footer
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/


/* [ 01 - HEADER ] */
/*==================================================*/
header {
  height: 100px;
  line-height: 100px;
  position: fixed; 
  z-index: 99;
  width: 100%;
  top: 0;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.4s;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

header a .logo {
  display: inline-block;
  float: left;
  opacity: 1;
}

header nav {
  float: right;
  opacity: 1;
}

header nav ul li {
  display: inline-block;
  margin-left: -2px;
}

header nav ul li a {
  color: #fff;
  transition: all 0.2s;
  padding: 0px 12px;
  text-align: center;
  display: block;
  margin-left: -3px;
  font-weight: 600;
}

header nav ul li a.current {
  color: attr(data-color);
}

header nav ul li a:focus {
  color: attr(data-color);
}

header nav ul li a:hover {
  color: attr(data-color);
}

#mobilenav {
	display: none;
}


/* [ 02 - WELCOME SECTION ] */
/*==================================================*/
.welcome-area {
  height: 100vh;
}

.welcome-area .image-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-image: url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.welcome-area .particles-bg {
  position: relative;
  background-size: cover !important;
  background-image: url("../images/particles-bg.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 2;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.welcome-area .snow-bg {
  position: relative;
  background-size: cover !important;
  background-image: url("../images/snow-bg.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 2;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.welcome-area .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.welcome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background-color: attr(data-color);
  z-index: 3;
}
.welcome-overlay::before {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 50%;
  border-style: solid;
  border-width: 70vh 0 30vh 40vh;
  border-color: attr(data-color);
}

.welcome-area #particles-js {
  width: 100%;
  height: 99%;
  position: absolute;
  z-index: 4;
}

.welcome-area .video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 1. No Object-fit support */
@media (min-aspect-ratio: 16/9) {
  .video-bg > video {
    top: -100%;
    height: 300%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg > video {
    left: -100%;
    width: 300%;
  }
}

/* 2. If object-fit support, this replace the rules on 1 */
@supports (object-fit: cover) {
  .video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.welcome-text {
  position: relative;
  color: #fff;
  z-index: 5;
}

.welcome-text h1,
.welcome-text #typed,
.welcome-text .typed-cursor {
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  line-height: 52px;
}

.welcome-text p {
  color: #fff;
  max-width: 500px;
  margin-bottom: 35px;
}
.welcome-text #typed span {
  font-weight: 700;
  color: #fff;
}

.welcome-area .type-wrap {
  margin-bottom: 35px;
  margin-top: 50px;
}

.welcome-area #typed {
  white-space: normal;
}

.welcome-text .social-icons a {
  color: #fff;
  font-size: 16px;
  padding: 0px 8px;
}

.welcome-text .social-icons a:hover {
  color: #222;
}
.welcome-text .social-icons {
  margin-bottom: 50px;
}

.welcome-text a {
  margin: 0px 5px;
}


/* [ 03 - ABOUT SECTION ] */
/*==================================================*/
.about h4 {
  text-align: left;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 800;
}

.about .title-small {
  text-align: left;
}

.about-text {
  margin-bottom: 40px;
}
.about-img {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}
.about-img img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.about .img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
  visibility: hidden;
  transition: all 0.5s;
  transform: scale(0);
}
.about .img-overlay::before {
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  border-top: attr(data-color);
  border-left: attr(data-color);
  top: 18px;
  left: 18px;
}

.about .img-overlay::after {
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  border-bottom: attr(data-color);
  border-right: attr(data-color);
  bottom: 18px;
  right: 18px;
}

.about-img:hover .img-overlay {
  visibility: visible;
  transform: scale(1);
}

.about .about-text {
  padding-right: 30px;
}

.about .skills {
  max-width: 80%;
}

.about .skills-content .progressbar-area h6 {
  margin-bottom: 21px;
  font-weight: 500;
  color: #6e6e6e;
  font-size: 15px;
}

.about .skills .progress-bar {
  background-color: attr(data-color);
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  padding-top: 0;
  padding-left: 10px;
  text-align: left;
  color: #fff;
  box-shadow: none;
  font-size: 10px;
  line-height: 20px;
}

.about .skill-category {
  max-width: 80%;
  margin: 0 auto;
}

.about .skills .progress {
  overflow: visible;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #d7d7d7;
  box-shadow: none;
  font-weight: 400;
}
.about .skills .progressbar-area h6 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #333;
}

.about .skills .progress-bar {
  width: 0%;
}
.about .skills .progress-bar span {
  position: absolute;
  top: -28px;
  right: -6px;
  display: inline-block;
  min-width: 25px;
  height: 22px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  background-color: #333;
  line-height: 21px;
  width: 36px;
}

.about .skills .progress-bar > span::before {
  position: absolute;
  bottom: -4px;
  left: 12px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
  background-color: #333;
}


/* [ 04 - SERVICES SECTION ] */
/*==================================================*/
.service {
  position: relative;
  background-image: url("../images/services/servicesBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;

  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.service .service-content {
  padding-top: 28px;
}

.service-header p {
  text-align: left;
  padding-right: 16px;
  color: #fff;
}

.service-header a {
  margin-top: 24px;
}

.service .section-title {
  text-align: left;
  padding-bottom: 24px;
  text-align: left;
  margin: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-weight: 800;
  color: #fff;
}

.service .item {
  margin-left: 20px;
  background-color: #fff;
  padding: 20px;
}

.service-item {
  background-color: #fff;
  padding: 11px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.service .content-title {
  font-weight: 700;
  font-size: 16px;
  color: #424242;
  margin-bottom: 8px;
}

.hovicon {
  display: inline-block;
  font-size: 35px;
  line-height: 62px;
  cursor: pointer;
  margin: 20px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #222;
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content:'';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hovicon:before {
  speak: none;
  font-size: 38px;
  line-height: 62px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

/* Effect 1 */
.hovicon.effect-1 {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.hovicon.effect-1:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: attr(data-color);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

/* Effect 1a */
.hovicon.effect-1.sub-a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: attr(data-color);
}

.hovicon.effect-1.sub-a:hover i {
  color: attr(data-color);
}

.hovicon.effect-1.sub-a:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.service .owl-theme .owl-dots .owl-dot span {
  border-radius: 0px;
}

.service .owl-stage-outer {
  margin-bottom: 36px;
  text-align: center;
}

.service .owl-theme .owl-nav [class*="owl-"] {
  color: #000;
  padding: 4px 11px;
  background-color: #fff;
  border-radius: 0px;
}


/* [ 05 - PORTFOLIO SECTION ] */
/*==================================================*/
.portfolio .portfolio-content {
  padding-top: 24px;
}

.portfolio-content-head ul li {
  display: inline-block;
  cursor: pointer;
  padding: 12px 14px;
  font-weight: 700;
  color: #696969;
  margin: 0px 10px;
  transition: all 0.2s;
  font-size: 16px;
}

.portfolio-content-head ul li:hover {
  color: #000;
}

.portfolio .mixitup-control-active {
  color: #000 !important;
  border-bottom: 2px solid #000;
}

.portfolio .mix {
  display: inline-block;
}

.portfolio-item {
  position: relative;
}

.portfolio-content-items .row {
  margin-right: 0px;
  margin-left: 0px;
}

.portfolio-content-items .col-md-4,
.portfolio-content-item .col-sm-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.portfolio-img {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
}

.portfolio-img img {
  transition: all 0.5s;
  height: auto;
  width: 100%;
}

.portfolio-content-head {
  text-align: center;
  margin-bottom: 56px;
}

.portfolio-item:hover .portfolio-img img {
  transform: rotate(10deg) scale(1.4);
}

.portfolio-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  transition: all 0.5s;
  transform: perspective(700px) rotateY(-90deg);
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
  transform: perspective(700px) rotateY(0deg);
}

.portfolio .overlay-content-item {
  transform: translateY(32%);
}

.portfolio-overlay .category {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.portfolio-overlay .magnify-icon {
  height: 200px;
  width: 40px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.25s;
  position: relative;
}

.portfolio .magnify-icon p {
  background-color: #929292;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.portfolio-overlay .magnify-icon p:hover {
  background-color: attr(data-color);
}

.portfolio-overlay .magnify-icon p span i {
  font-size: 15px;
  color: #fff;
  line-height: 40px;
}


/* [ 06 - PERSONAL DETAIL SECTION ] */
/*==================================================*/
.personal-detail {
  box-shadow: 5px 5px 13px #a2a2a2;
  position: relative;
  background-image: url("../images/resume/resumeBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.personal-detail .detail-overlay {
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.personal-detail .personal-detail-content {
  width: 100%;
  position: relative;
}

.personal-detail .details-heading-area {
  color: #fff;
  display: table;
  vertical-align: middle;
  height: 100%;
}

.personal-detail .detail-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.personal-detail .detail-table-row {
  display: table-row;
  height: 100%;
}

.personal-detail .details-heading-area h4 {
  color: #fff;
  font-weight: 800;
  margin-bottom: 16px;
}

.personal-detail .details-heading-area p {
  margin-bottom: 28px;
  padding-right: 48px;
}

.personal-detail .detail-header .section-title {
  text-align: left;
  padding-bottom: 28px;
  text-align: left;
  margin: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-weight: 800;
}

.personal-detail .detail-header .title-small {
  text-align: left;
}

.personal-detail .nav-tabs {
  border-bottom: 0px;
}

.personal-detail .nav-tabs .nav-item.show .nav-link,
.personal-detail .nav-tabs .nav-link.active {
  color: #696969;
  background-color: #fff;
  border-bottom: attr(data-color);
  margin-top: 0px;
  background-color: #e0e0e0;
  position: relative;
}

.personal-detail .nav-tabs .nav-link.active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: attr(data-color);
  position: absolute;
  bottom: 0;
  left: 50%;
}

.personal-detail .nav-link i {
  font-size: 24px;
  color: #dadada;
  padding-right: 10px;
}

.personal-detail .nav-tabs .nav-link.active i {
  color: #696969;
}

.personal-detail .nav-tabs .nav-link {
  border: 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #2d2d2d;
  border-radius: 0px;
}

.personal-detail .nav-tabs {
  height: 48px;
}

.personal-detail .detail-year {
  position: relative;
  bottom: 3px;
  width: 100px;
  height: 36px;
  margin-left: 24px;
  padding: 3px 6px;
  background-color: #222;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
  box-shadow: attr(data-color);
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.personal-detail .detail-text {
  padding-left: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.personal-detail .detail-title {
  padding-left: 26px;
  font-size: 16px;
  font-weight: 700;
  padding-top: 18px;
}

.personal-detail .detail-item {
  margin-bottom: 24px;
  position: relative;
}

.personal-detail .tab-content.detail-tab {
  border-left: 1px solid #222;
  margin-top: 40px;
}

.personal-detail .detail-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: -10px;
  background-color: #222;	
  transform: rotate(45deg);
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.personal-detail .detail-content-area {
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(255, 255, 255, 0.9);
}


/* [ 07 - CLIENT TESTIMONIAL SECTION ] */
/*==================================================*/
.client-testimonial .client-area {
  padding-top: 28px;
}

.client-testimonial .sub-header {
  color: #fff;
}

.client-testimonial .testimonial-header {
  padding-bottom: 16px;
}

.client-testimonial .testimonial-title h3 {
  color: #e7e7e7;
}

.client-testimonial #owl-testimonial .item {
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s;
  max-width: 850px;
  margin: 0 auto;
  background-color: #e9e9e9;
  margin: 0 20px;
  border-radius: 0px;
  box-shadow: 2px 2px 10px #bfbfbf;
  transition: all 0.5s;
}

.client-testimonial #owl-testimonial .item:hover{
  background-color: #383838;
  color: #fff;
}
.client-testimonial .owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  padding: 4px 11px;
  background-color: #000;
  border-radius: 0px;
}

.client-testimonial .client-img img {
  width: 96px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 7px;
  border-radius: 70px;
  border: attr(data-color);
}

.client-testimonial .quote-text {
  padding: 36px;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.client-testimonial .quote-text {
  padding: 24px;
  transition: all 0.5s;
  margin-bottom: 20px;
}


.client-testimonial .owl-theme .owl-controls .owl-page span {
  border-radius: 0px;
  background-color: #ccc;
}

.client-testimonial .owl-theme .owl-controls .active span {
  background-color: #fff;
  opacity: 0.5;
}

.client-testimonial .owl-theme .owl-controls .owl-page span {
  background-color: #fff;
  opacity: 1;
}

.client-testimonial .name {
  font-weight: 800;
  padding-top: 12px;
}

.client-testimonial .client-img {
  padding-top: 32px;
}

.client-testimonial .client-identity {
  margin-bottom: 10px;
}


/* [ 08 - FUN FACT SECTION ] */
/*==================================================*/
.fun-fact {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.fun-item .counter {
  font-weight: 700;
  color: attr(data-color);
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  line-height: 48px;
}

.fun-fact .count {
  background-color: rgba(83, 83, 83, 0.9);
  padding: 30px 0px;
}

.fun-fact .count-underline {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #d1d1d1;
  margin: 0 auto;
}

.fun-fact i {
  color: #7aa93c;
  font-size: 40px;
  padding-bottom: 10px;
}

.fun-fact h3 {
  color: #fff;
  padding: 8px 0px;
  font-weight: 500;
  position: relative;
}

.fun-fact h6 {
  color: #dedede;
  font-size: 16px;
  padding-top: 14px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}


/* [ 09 - BLOG SECTION ] */
/*==================================================*/
.blog {
  background-color: rgba(234, 234, 234, 0.2);
  overflow: hidden;
  padding-bottom: 30px;
}

.blog-header {
  padding-bottom: 16px;
}

.blog-title {
  font-weight: 700;
  font-size: 18px;
  padding: 15px 0px;
  margin-top: 10px;
}

.blog-detail {
  font-size: 13px;
  color: #959595;
  padding-bottom: 10px;
}

.blog-detail span {
  color: #333;
  padding-right: 2px;
  font-weight: 600;
}

.blog-description {
  margin-bottom: 25px;
  margin-top: 2px;
}

.blog-content {
  padding-top: 28px;
}

.blog-img {
  position: relative;
  overflow: hidden;
  padding: 0px 0px;
  z-index: 0;
}

.blog-img img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.blog-text {
  padding: 20px 40px;
}

.blog-img.left::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  right: 0px;
  z-index: 3;
}

.blog-img.right::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 14px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  left: 0px;
  top: 46%;
  z-index: 3;
}

.blog-text a {
  font-weight: 600;
}

.blog-text a i{
  padding-left: 4px;
  transition: all 0.5s;
}

.blog-text a:hover i{
  padding-left: 8px;
}

.blog-single-item {
  box-shadow: 0px 0px 10px #d2d2d2;
}

.blog-single-item .img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  visibility: hidden;
  transition: all 0.5s;
  transform: scale(0);
}
.blog-single-item .img-overlay::before {
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  border-top: attr(data-color);
  border-left: attr(data-color);
  top: 18px;
  left: 18px;
}

.blog-single-item .img-overlay::after {
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  border-bottom: attr(data-color);
  border-right: attr(data-color);
  bottom: 18px;
  right: 18px;
}

.blog-single-item:hover .blog-img img {
  transform:rotate(5deg) scale(1.3);
}

.blog-single-item:hover .img-overlay {
  visibility: visible;
  transform: scale(1);
}


/* [ 10 - SINGLE POST SECTION ] */
/*==================================================*/
.blog-area {
  height: 50vh;
}

.blog-area .blog-image-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-image: url("../images/blog/posts/post-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.blog-area-text span {
  color: #fff;
}

.blog-area-text a {
  color: attr(data-color);
}

.blog-area-text a:hover {
  color: #000;
}

.blog-area-title h1 {
  color: #fff;
}

.blog-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.classic-blog hr {
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.classic-blog .post:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.main-img{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  text-align: center;
}

.post-content .highlight1 {
  color: attr(data-color);
}

.post-content .highlight1:hover {
  color: #000;
}

.post-content .highlight2 {
  background-color: attr(data-color);
}

.post-content .highlight3 {
  background-color: attr(data-color);
  font-weight: bold;
}

.post .meta,
.post .meta a,
.more {
  color: #888;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 15px;
}

.classic-blog .post .meta {
  margin: 10px 0 20px 0;
}

.post .meta span:before {
  display: inline-block;
  content: "/";
  padding: 0 6px;
  color: rgba(0,0,0,0.30);
}

.post .meta span:first-child:before {
  display: none;
  padding: 0;
}

.post .meta span i {
  padding: 0 3px;
  color: rgba(0,0,0,0.30);
}

.more {
  border-bottom: 1px solid attr(data-color);
  padding-bottom: 2px;
}

.post .meta a:hover,
.more:hover {
  color: attr(data-color);
}

.post-item {
  position: relative;
}

.post-img {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
}

.post-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
  transition: all 0.5s;
  transform: perspective(700px) rotateY(-90deg);
}

.post-item:hover .post-overlay {
  visibility: visible;
  transform: perspective(700px) rotateY(0deg);
}

.post .overlay-content-item {
  transform: translateY(32%);
}

.post-overlay .category {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.post-overlay .magnify-icon {
  height: 200px;
  width: 40px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.25s;
  position: relative;
}

.post .magnify-icon p {
  background-color: #929292;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.post-overlay .magnify-icon p:hover {
  background-color: attr(data-color);
}

.post-overlay .magnify-icon p span i {
  font-size: 15px;
  color: #fff;
  line-height: 40px;
}

.post-overlay .img-title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.sidebar {
  padding-left: 35px !important
}

.post h5 {
  text-transform: uppercase;
}

ul.listing {
  margin: 15px 0 0 10px;
  display: inline-block;
}

.listing i,
.listing-cat i {
  padding-right: 5px;
  font-size: 8px;
  vertical-align: middle;
  color: attr(data-color);
}

ul.listing-cat {
  display: inline-block;
}

.share-links i {
  padding-right: 5px;
  font-size: 16x;
  vertical-align: middle;
}

.share-links {
  margin-top: 15px
}

/* Author */
.about-author {
  padding: 20px
}

.about-author .author-image img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 20px;
  display: block;
}

.about-author .author-details {
  overflow: hidden
}

.about-author .author-details .social {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Comments */
#comments {
  margin: 0;
  padding-top: 20px;
  position: relative;
}

#comments ol {
  padding: 0
}

#comments ol.commentlist li .bordered {
  padding: 15px 20px 5px 20px
}

#comments ol.commentlist li {
  padding: 30px 0 0 0;
  background: none;
  border-top: 1px solid rgba(0,0,0,0.16);
  margin-top: 20px;
  list-style: none;
}

#comments ol.commentlist li:first-child {
  border: none;
  margin: 0;
}

#comments ol.commentlist li:first-child {
  border: none;
  margin: 0;
}

#comments .user img {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  position: relative;
}

#comments .message {
  overflow: hidden
}

#comments .image-caption:before {
  display: none
}

#comments ul.children {
  margin: 0;
  overflow: inherit;
  padding: 0 0 0 55px;
  list-style: none;
}

#comments ol.commentlist ul.children li {
  padding-right: 0;
  border: none;
}

#comments .info h2 {
  font-size: 14px;
  margin: 0;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}

#comments .info {
  margin-bottom: 12px
}

#comments .info h2 a {
  color: #2e2e2e
}

#comments .info h2 a:hover {
  color: attr(data-color)
}

#comments .info .meta {
  display: block;
  margin: -3px 0 5px 0;
  color: #888;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}

#comments .info .meta .date {
  display: inline
}

#comments a.reply-link {
  display: inline;
  color: #888888;
}

#comments a.reply-link:hover {
  color: attr(data-color)
}

#comments a.reply-link:before {
  display: inline-block;
  content: "/";
  padding: 0 8px 0 5px;
  color: #888888;
}

.comment-form-wrapper {
  width: 100%;
}

.comment-form-wrapper p {
  padding-bottom: 20px
}

/* Sidebar */
.sidebar {
  padding-left: 25px !important
}

.sidebar.left-sidebar {
  padding: 15px !important;
  padding-top: 0 !important;
}

.sidebox {
  margin-top: 50px;
  display: block;
}

.sidebox:first-child {
  margin: 0
}

.sidebox .post-list {
  padding: 0;
  margin: 0;
}

.sidebox .post-list:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.sidebox .post-list li {
  clear: both;
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
}

.sidebox .post-list h6 {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: #2f2f2f;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}

.sidebox .post-list h6 a {
  font-size: 14px;
  line-height: 24px;
}

.sidebox a {
  color: #2f2f2f;
}

.sidebox a:hover {
  color: attr(data-color);
}

.sidebox .social-icons {
  padding-top: 10px;
}

.sidebox .post-list .icon-overlay {
  float: left;
  width: 70px;
  height: 70px;
}

.sidebox .post-list .meta {
  margin-left: 85px;
  margin-bottom: 0;
}

.sidebox .post-list .meta em {
  font-size: 13px;
  color: #888888;
  margin-top: 5px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
}

.sidebox .post-list .meta em:before {
  display: none
}

.sidebox.widget form {
  margin: 0
}

.sidebox.widget .searchform input {
  margin: 0
}

.widget .list {
  list-style: none;
  margin: 0;
}

.widget-title {
  font-size: 14px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

ul.tag-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.tag-list li {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 9px;
  background: none;
}

ul.tag-list li a {
  padding: 0;
  margin: 0;
  color: #2e2e2e;
  border: 1px solid rgba(0,0,0,0.35);
  display: inline-block;
  padding: 7px 13px 7px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

ul.tag-list li a:hover {
  color: attr(data-color) !important;
  border: 1px solid attr(data-color);
  text-decoration: none;
}


/* [ 11 - NEWSLETTER SECTION ] */
/*==================================================*/
.newsletter {
  position: relative;
  background-color: attr(data-color);
  margin: 0px 200px;
  transform: translateY(65px);
  z-index: 1;
}
.newsletter h3 {
  color: #fff;
  font-size: 38px;
}

.newsletter-form {
  width: 100%;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 7px;
}

.newsletter-form input {
  display: inline-block;
}

.newsletter-form form {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.newsletter-form .newsletter-email {
  width: 100%;
  background-color: #fff;
  height: 40px;
  border: 1px transparent;
  padding-left: 10px;
  margin-bottom: 10px;
}

.newsletter .submit-btn {
  border: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px 20px;
  margin: 0px !important;
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
}

.newsletter #mc-form label {
  color: #222;
  margin-top: 8px;
}


/* [ 12 - CONTACT SECTION ] */
/*==================================================*/
.contact {
  position: relative;
  background-image: url("../images/contact/contactBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  
  /*Improve smooth scrolling*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.contact .section-title {
  color: #fff;
}

.contact-content {
  padding-top: 28px;
}

.contact-detail {
  background-color: #fff;
  padding: 36px 40px;
}

.contact-header {
  padding-top: 50px;
  padding-bottom: 16px;
}

.contact .response {
    display: none;
	margin-top: 10px;
}

.contact-form-area div.error input,
.contact-form-area div.error textarea {
    border-bottom: 1px solid #b54d4d
}

.contact-form-area span.error {
    display: none
}

.contact .contact-form-area {
  background-color: #fff;
  padding: 30px 40px;
}

.contact .text-input {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  margin-top: 12px;
  border-bottom: 1px solid #d8d8d8;
}

.contact .text-area {
  width: 100%;
  height: 132px;
  background-color: #fff;
  border: none;
  padding-top: 8px;
  padding-left: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.contact .contact-text {
  padding-bottom: 10px !important;
}

form .nocomment {
   display:none
}

.contact-detail h6 {
  margin-bottom: 16px;
  color: #3c3c3c;
  margin-top: 5px;
  font-weight: 700;
}

.contact-detail p span {
  font-weight: 700;
  padding-right: 2px;
}

.contact-detail .adress-loc {
  font-weight: 400 !important;
}

.contact-detail p {
  margin: 16px 0px;
}

.contact-detail p i {
  color: #3f3f3f;
  font-size: 20px;
  padding-right: 12px;
  width: 30px;
}

.contact-detail .social-icons a i,
.author-details .social-icons a i,
.sidebar .social-icons a i {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
  width: 32px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  transition: all 0.5s;
  display: inline-block;
}

.contact-detail .social-icons a i,
.author-details .social-icons a i,
.sidebar .social-icons a i {
  background-color: #000;
}

.contact-detail .social-icons a i:hover,
.author-details .social-icons a i:hover,
.sidebar .social-icons a i:hover {
  background-color: attr(data-color);
}

.contact-detail .social-icons p {
  font-weight: 600;
  font-size: 18px;
  padding-top: 8px;
}

.contact #contact-submit,
.comment-form-wrapper #comment-submit {
  margin-top: 36px;
  padding: 10px 42px;
  border: 0px;
  margin-bottom: 4px;
}


/* [ 13 - FOOTER ] */
/*==================================================*/
footer {
  padding: 35px 0px;
  background-color: #121212;
}

footer .copyright p {
  text-align: center;
  color: #ddd;
}
