@charset "utf-8";


/* [ 01 - GOLD COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="gold"] textarea:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="text"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="password"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="datetime"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="datetime-local"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="date"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="month"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="time"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="week"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="number"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="email"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="url"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="search"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="tel"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] input[type="color"]:focus{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] header nav ul li a.home.current{color: #ffd600;}
.teo_all_wrap[data-color="gold"] header nav ul li a.current{color: #ffd600;}
.teo_all_wrap[data-color="gold"] header nav ul li a:focus{color: #ffd600;}
.teo_all_wrap[data-color="gold"] header nav ul li a:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .main-nav::before{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .burger{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .burger:after{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .burger:before{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .welcome-overlay{background-color:rgba(255, 214, 0, 0.8);}
.teo_all_wrap[data-color="gold"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(255, 214, 0, 0.8);}
.teo_all_wrap[data-color="gold"] .about .img-overlay::before{border-top: 1px solid #ffd600;border-left: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .about .img-overlay::after{border-bottom: 1px solid #ffd600;border-right: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .about .skills .progress-bar{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #ffd600;}
.teo_all_wrap[data-color="gold"] .hovicon.effect-1.sub-a:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .hovicon.effect-1.sub-a:hover i{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .portfolio-overlay .magnify-icon p:hover{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #ffd600 transparent;}
.teo_all_wrap[data-color="gold"] .client-testimonial .client-img img{border: 4px solid rgba(255, 214, 0, 0.6);}
.teo_all_wrap[data-color="gold"] .fun-item .counter{color:#ffd600;}
.teo_all_wrap[data-color="gold"] .blog-single-item .img-overlay::before{border-top: 1px solid #ffd600;border-left: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #ffd600;border-right: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .sidebox a:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] ul.tag-list li a:hover{color: #ffd600 !important;border: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .blog-area-text a {color: #ffd600;}
.teo_all_wrap[data-color="gold"] h2.post-title a:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .post-content .highlight1{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .post-content .highlight2{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .post-content .highlight3{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .more{border-bottom: 1px solid #ffd600;}
.teo_all_wrap[data-color="gold"] .post .meta a:hover, .more:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .post-overlay .magnify-icon p:hover{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .listing i{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .listing-cat i{color: #ffd600;}
.teo_all_wrap[data-color="gold"] #comments .info h2 a:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] #comments a.reply-link:hover{color: #ffd600;}
.teo_all_wrap[data-color="gold"] .newsletter{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .contact-detail .social-icons a i:hover{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .author-details .social-icons a i:hover{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .sidebar .social-icons a i:hover{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .overlay_effect:before{background-color: #ffd600;}
.teo_all_wrap[data-color="gold"] .btn-style-1{border: 2px solid rgb(255, 214, 0);box-shadow: inset 0 0 0 0 #ffd600;}
.teo_all_wrap[data-color="gold"] .btn-style-2{border: 2px solid rgb(255, 214, 0);box-shadow: inset 0 0 0 0 #ffd600;}
.teo_all_wrap[data-color="gold"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #ffd600;}
.teo_all_wrap[data-color="gold"] #loader{border-top-color: #ffd600;}
.teo_all_wrap[data-color="gold"] #loader:before{border-top-color: #ffd600;}
.teo_all_wrap[data-color="gold"] #loader:after{border-top-color: #ffd600;}

/* [ 02 - ROYAL BLUE COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="royalblue"] textarea:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="text"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="password"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="datetime"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="datetime-local"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="date"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="month"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="time"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="week"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="number"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="email"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="url"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="search"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="tel"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] input[type="color"]:focus{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] header nav ul li a.home.current{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] header nav ul li a.current{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] header nav ul li a:focus{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] header nav ul li a:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .main-nav::before{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .burger{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .burger:after{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .burger:before{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .welcome-overlay{background-color:rgba(65, 105, 225, 0.8);}
.teo_all_wrap[data-color="royalblue"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(65, 105, 225, 0.8);}
.teo_all_wrap[data-color="royalblue"] .about .img-overlay::before{border-top: 1px solid #4169e1;border-left: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .about .img-overlay::after{border-bottom: 1px solid #4169e1;border-right: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .about .skills .progress-bar{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #4169e1;}
.teo_all_wrap[data-color="royalblue"] .hovicon.effect-1.sub-a:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .hovicon.effect-1.sub-a:hover i{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .portfolio-overlay .magnify-icon p:hover{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #4169e1 transparent;}
.teo_all_wrap[data-color="royalblue"] .client-testimonial .client-img img{border: 4px solid rgba(65, 105, 225, 0.6);}
.teo_all_wrap[data-color="royalblue"] .fun-item .counter{color:#4169e1;}
.teo_all_wrap[data-color="royalblue"] .blog-single-item .img-overlay::before{border-top: 1px solid #4169e1;border-left: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #4169e1;border-right: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .sidebox a:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] ul.tag-list li a:hover{color: #4169e1 !important;border: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .blog-area-text a{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] h2.post-title a:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .post-content .highlight1{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .post-content .highlight2{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .post-content .highlight3{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .more{border-bottom: 1px solid #4169e1;}
.teo_all_wrap[data-color="royalblue"] .post .meta a:hover, .more:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .post-overlay .magnify-icon p:hover{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .listing i{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .listing-cat i{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] #comments .info h2 a:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] #comments a.reply-link:hover{color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .newsletter{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .contact-detail .social-icons a i:hover{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .author-details .social-icons a i:hover{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .sidebar .social-icons a i:hover{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .overlay_effect:before{background-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] .btn-style-1{border: 2px solid rgb(65, 105, 225);box-shadow: inset 0 0 0 0 #4169e1;}
.teo_all_wrap[data-color="royalblue"] .btn-style-2{border: 2px solid rgb(65, 105, 225);box-shadow: inset 0 0 0 0 #4169e1;}
.teo_all_wrap[data-color="royalblue"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #4169e1;}
.teo_all_wrap[data-color="royalblue"] #loader{border-top-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] #loader:before{border-top-color: #4169e1;}
.teo_all_wrap[data-color="royalblue"] #loader:after{border-top-color: #4169e1;}

/* [ 03 - CRIMSON COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="crimson"] textarea:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="text"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="password"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="datetime"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="datetime-local"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="date"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="month"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="time"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="week"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="number"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="email"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="url"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="search"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="tel"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] input[type="color"]:focus{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] header nav ul li a.home.current{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] header nav ul li a.current{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] header nav ul li a:focus{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] header nav ul li a:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .main-nav::before{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .burger{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .burger:after{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .burger:before{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .welcome-overlay{background-color:rgba(220, 20, 59, 0.8);}
.teo_all_wrap[data-color="crimson"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(220, 20, 59, 0.8);}
.teo_all_wrap[data-color="crimson"] .about .img-overlay::before{border-top: 1px solid #DC143C;border-left: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .about .img-overlay::after{border-bottom: 1px solid #DC143C;border-right: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .about .skills .progress-bar{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #DC143C;}
.teo_all_wrap[data-color="crimson"] .hovicon.effect-1.sub-a:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .hovicon.effect-1.sub-a:hover i{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .portfolio-overlay .magnify-icon p:hover{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #DC143C transparent;}
.teo_all_wrap[data-color="crimson"] .client-testimonial .client-img img{border: 4px solid rgba(220, 20, 59, 0.6);}
.teo_all_wrap[data-color="crimson"] .fun-item .counter{color:#DC143C;}
.teo_all_wrap[data-color="crimson"] .blog-single-item .img-overlay::before{border-top: 1px solid #DC143C;border-left: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #DC143C;border-right: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .sidebox a:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] ul.tag-list li a:hover{color: #DC143C !important;border: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .blog-area-text a{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] h2.post-title a:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .post-content .highlight1{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .post-content .highlight2{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .post-content .highlight3{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .more{border-bottom: 1px solid #DC143C;}
.teo_all_wrap[data-color="crimson"] .post .meta a:hover, .more:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .post-overlay .magnify-icon p:hover{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .listing i{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .listing-cat i{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] #comments .info h2 a:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] #comments a.reply-link:hover{color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .newsletter{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .contact-detail .social-icons a i:hover{background: #DC143C;}
.teo_all_wrap[data-color="crimson"] .author-details .social-icons a i:hover{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .sidebar .social-icons a i:hover{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .overlay_effect:before{background-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] .btn-style-1{border: 2px solid rgb(220, 20, 59);box-shadow: inset 0 0 0 0 #DC143C;}
.teo_all_wrap[data-color="crimson"] .btn-style-2{border: 2px solid rgb(220, 20, 59);box-shadow: inset 0 0 0 0 #DC143C;}
.teo_all_wrap[data-color="crimson"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #DC143C;}
.teo_all_wrap[data-color="crimson"] #loader{border-top-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] #loader:before{border-top-color: #DC143C;}
.teo_all_wrap[data-color="crimson"] #loader:after{border-top-color: #DC143C;}

/* [ 04 - DEEP PINK COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="deeppink"] textarea:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="text"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="password"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="datetime"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="datetime-local"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="date"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="month"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="time"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="week"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="number"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="email"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="url"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="search"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="tel"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] input[type="color"]:focus{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] header nav ul li a.home.current{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] header nav ul li a.current{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] header nav ul li a:focus{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] header nav ul li a:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .main-nav::before{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .burger{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .burger:after{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .burger:before{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .welcome-overlay{background-color:rgba(235, 0, 128, 0.8);}
.teo_all_wrap[data-color="deeppink"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(235, 0, 128, 0.8);}
.teo_all_wrap[data-color="deeppink"] .about .img-overlay::before{border-top: 1px solid #FF1493;border-left: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .about .img-overlay::after{border-bottom: 1px solid #FF1493;border-right: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .about .skills .progress-bar{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #FF1493;}
.teo_all_wrap[data-color="deeppink"] .hovicon.effect-1.sub-a:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .hovicon.effect-1.sub-a:hover i{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .portfolio-overlay .magnify-icon p:hover{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #FF1493 transparent;}
.teo_all_wrap[data-color="deeppink"] .client-testimonial .client-img img{border: 4px solid rgba(235, 0, 128, 0.6);}
.teo_all_wrap[data-color="deeppink"] .fun-item .counter{color:#FF1493;}
.teo_all_wrap[data-color="deeppink"] .blog-single-item .img-overlay::before{border-top: 1px solid #FF1493;border-left: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #FF1493;border-right: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .sidebox a:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] ul.tag-list li a:hover{color: #FF1493 !important;border: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .blog-area-text a{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] h2.post-title a:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .post-content .highlight1{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .post-content .highlight2{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .post-content .highlight3{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .more{border-bottom: 1px solid #FF1493;}
.teo_all_wrap[data-color="deeppink"] .post .meta a:hover, .more:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .post-overlay .magnify-icon p:hover{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .listing i{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .listing-cat i{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] #comments .info h2 a:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] #comments a.reply-link:hover{color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .newsletter{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .contact-detail .social-icons a i:hover{background: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .author-details .social-icons a i:hover{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .sidebar .social-icons a i:hover{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .overlay_effect:before{background-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] .btn-style-1{border: 2px solid rgb(235, 0, 128);box-shadow: inset 0 0 0 0 #FF1493;}
.teo_all_wrap[data-color="deeppink"] .btn-style-2{border: 2px solid rgb(235, 0, 128);box-shadow: inset 0 0 0 0 #FF1493;}
.teo_all_wrap[data-color="deeppink"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #FF1493;}
.teo_all_wrap[data-color="deeppink"] #loader{border-top-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] #loader:before{border-top-color: #FF1493;}
.teo_all_wrap[data-color="deeppink"] #loader:after{border-top-color: #FF1493;}

/* [ 05 - LIME COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="lime"] textarea:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="text"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="password"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="datetime"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="datetime-local"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="date"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="month"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="time"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="week"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="number"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="email"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="url"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="search"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="tel"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] input[type="color"]:focus{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] header nav ul li a.home.current{color: #00FF00;}
.teo_all_wrap[data-color="lime"] header nav ul li a.current{color: #00FF00;}
.teo_all_wrap[data-color="lime"] header nav ul li a:focus{color: #00FF00;}
.teo_all_wrap[data-color="lime"] header nav ul li a:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .main-nav::before{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .burger{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .burger:after{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .burger:before{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .welcome-overlay{background-color:rgba(0, 218, 0, 0.8);}
.teo_all_wrap[data-color="lime"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(0, 218, 0, 0.8);}
.teo_all_wrap[data-color="lime"] .about .img-overlay::before{border-top: 1px solid #00FF00;border-left: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .about .img-overlay::after{border-bottom: 1px solid #00FF00;border-right: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .about .skills .progress-bar{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #00FF00;}
.teo_all_wrap[data-color="lime"] .hovicon.effect-1.sub-a:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .hovicon.effect-1.sub-a:hover i{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .portfolio-overlay .magnify-icon p:hover{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #00FF00 transparent;}
.teo_all_wrap[data-color="lime"] .client-testimonial .client-img img{border: 4px solid rgba(0, 218, 0, 0.6);}
.teo_all_wrap[data-color="lime"] .fun-item .counter{color:#00FF00;}
.teo_all_wrap[data-color="lime"] .blog-single-item .img-overlay::before{border-top: 1px solid #00FF00;border-left: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #00FF00;border-right: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .sidebox a:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] ul.tag-list li a:hover{color: #00FF00 !important;border: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .blog-area-text a{color: #00FF00;}
.teo_all_wrap[data-color="lime"] h2.post-title a:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .post-content .highlight1{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .post-content .highlight2{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .post-content .highlight3{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .more{border-bottom: 1px solid #00FF00;}
.teo_all_wrap[data-color="lime"] .post .meta a:hover, .more:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .post-overlay .magnify-icon p:hover{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .listing i{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .listing-cat i{color: #00FF00;}
.teo_all_wrap[data-color="lime"] #comments .info h2 a:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] #comments a.reply-link:hover{color: #00FF00;}
.teo_all_wrap[data-color="lime"] .newsletter{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .contact-detail .social-icons a i:hover{background: #00FF00;}
.teo_all_wrap[data-color="lime"] .author-details .social-icons a i:hover{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .sidebar .social-icons a i:hover{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .overlay_effect:before{background-color: #00FF00;}
.teo_all_wrap[data-color="lime"] .btn-style-1{border: 2px solid rgb(0, 218, 0);box-shadow: inset 0 0 0 0 #00FF00;}
.teo_all_wrap[data-color="lime"] .btn-style-2{border: 2px solid rgb(0, 218, 0);box-shadow: inset 0 0 0 0 #00FF00;}
.teo_all_wrap[data-color="lime"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #00FF00;}
.teo_all_wrap[data-color="lime"] #loader{border-top-color: #00FF00;}
.teo_all_wrap[data-color="lime"] #loader:before{border-top-color: #00FF00;}
.teo_all_wrap[data-color="lime"] #loader:after{border-top-color: #00FF00;}

/* [ 06 - PURPLE COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="purple"] textarea:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="text"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="password"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="datetime"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="datetime-local"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="date"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="month"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="time"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="week"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="number"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="email"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="url"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="search"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="tel"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] input[type="color"]:focus{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] header nav ul li a.home.current{color: #800080;}
.teo_all_wrap[data-color="purple"] header nav ul li a.current{color: #800080;}
.teo_all_wrap[data-color="purple"] header nav ul li a:focus{color: #800080;}
.teo_all_wrap[data-color="purple"] header nav ul li a:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] .main-nav::before{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .burger{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .burger:after{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .burger:before{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .welcome-overlay{background-color:rgba(77, 0, 77, 0.8);}
.teo_all_wrap[data-color="purple"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(77, 0, 77, 0.8);}
.teo_all_wrap[data-color="purple"] .about .img-overlay::before{border-top: 1px solid #800080;border-left: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] .about .img-overlay::after{border-bottom: 1px solid #800080;border-right: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] .about .skills .progress-bar{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #800080;}
.teo_all_wrap[data-color="purple"] .hovicon.effect-1.sub-a:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] .hovicon.effect-1.sub-a:hover i{color: #800080;}
.teo_all_wrap[data-color="purple"] .portfolio-overlay .magnify-icon p:hover{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #800080;}
.teo_all_wrap[data-color="purple"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #800080 transparent;}
.teo_all_wrap[data-color="purple"] .client-testimonial .client-img img{border: 4px solid rgba(77, 0, 77, 0.6);}
.teo_all_wrap[data-color="purple"] .fun-item .counter{color:#800080;}
.teo_all_wrap[data-color="purple"] .blog-single-item .img-overlay::before{border-top: 1px solid #800080;border-left: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #800080;border-right: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] .sidebox a:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] ul.tag-list li a:hover{color: #800080 !important;border: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] .blog-area-text a{color: #800080;}
.teo_all_wrap[data-color="purple"] h2.post-title a:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] .post-content .highlight1 {color: #800080;}
.teo_all_wrap[data-color="purple"] .post-content .highlight2{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .post-content .highlight3{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .more{border-bottom: 1px solid #800080;}
.teo_all_wrap[data-color="purple"] .post .meta a:hover, .more:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] .post-overlay .magnify-icon p:hover{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .listing i{color: #800080;}
.teo_all_wrap[data-color="purple"] .listing-cat i{color: #800080;}
.teo_all_wrap[data-color="purple"] #comments .info h2 a:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] #comments a.reply-link:hover{color: #800080;}
.teo_all_wrap[data-color="purple"] .newsletter{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .contact-detail .social-icons a i:hover{background: #800080;}
.teo_all_wrap[data-color="purple"] .author-details .social-icons a i:hover{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .sidebar .social-icons a i:hover{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .overlay_effect:before{background-color: #800080;}
.teo_all_wrap[data-color="purple"] .btn-style-1{border: 2px solid rgb(77, 0, 77);box-shadow: inset 0 0 0 0 #800080;}
.teo_all_wrap[data-color="purple"] .btn-style-2{border: 2px solid rgb(77, 0, 77);box-shadow: inset 0 0 0 0 #800080;}
.teo_all_wrap[data-color="purple"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #800080;}
.teo_all_wrap[data-color="purple"] #loader{border-top-color: #800080;}
.teo_all_wrap[data-color="purple"] #loader:before{border-top-color: #800080;}
.teo_all_wrap[data-color="purple"] #loader:after{border-top-color: #800080;}

/* [ 07 - YELLOW GREEN COLOR ] */
/*==================================================*/
.teo_all_wrap[data-color="yellowgreen"] textarea:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="text"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="password"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="datetime"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="datetime-local"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="date"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="month"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="time"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="week"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="number"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="email"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="url"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="search"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="tel"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] input[type="color"]:focus{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] header nav ul li a.home.current{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] header nav ul li a.current{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] header nav ul li a:focus{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] header nav ul li a:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .main-nav::before{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .burger{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .burger:after{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .burger:before{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .welcome-overlay{background-color:rgba(92, 136, 3, 0.8);}
.teo_all_wrap[data-color="yellowgreen"] .welcome-overlay::before{border-color: transparent transparent transparent rgba(92, 136, 3, 0.8);}
.teo_all_wrap[data-color="yellowgreen"] .about .img-overlay::before{border-top: 1px solid #9acd32;border-left: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .about .img-overlay::after{border-bottom: 1px solid #9acd32;border-right: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .about .skills .progress-bar{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .hovicon.effect-1:after{box-shadow: 0 0 0 4px #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .hovicon.effect-1.sub-a:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .hovicon.effect-1.sub-a:hover i{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .portfolio-overlay .magnify-icon p:hover{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .personal-detail .nav-tabs .nav-link.active{border-bottom: 2px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .personal-detail .nav-tabs .nav-link.active::after{border-color: transparent transparent #9acd32 transparent;}
.teo_all_wrap[data-color="yellowgreen"] .client-testimonial .client-img img{border: 4px solid rgba(92, 136, 3, 0.6);}
.teo_all_wrap[data-color="yellowgreen"] .fun-item .counter{color:#9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .blog-single-item .img-overlay::before{border-top: 1px solid #9acd32;border-left: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .blog-single-item .img-overlay::after{border-bottom: 1px solid #9acd32;border-right: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .sidebox a:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] ul.tag-list li a:hover{color: #9acd32 !important;border: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .blog-area-text a{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] h2.post-title a:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .post-content .highlight1{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .post-content .highlight2{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .post-content .highlight3{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .more{border-bottom: 1px solid #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .post .meta a:hover, .more:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .post-overlay .magnify-icon p:hover{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .listing i{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .listing-cat i{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] #comments .info h2 a:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] #comments a.reply-link:hover{color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .newsletter{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .contact-detail .social-icons a i:hover{background: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .author-details .social-icons a i:hover{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .sidebar .social-icons a i:hover{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .overlay_effect:before{background-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .btn-style-1{border: 2px solid rgb(92, 136, 3);box-shadow: inset 0 0 0 0 #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .btn-style-2{border: 2px solid rgb(92, 136, 3);box-shadow: inset 0 0 0 0 #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] .slide-right:hover{box-shadow: inset 400px 0 0 0 #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] #loader{border-top-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] #loader:before{border-top-color: #9acd32;}
.teo_all_wrap[data-color="yellowgreen"] #loader:after{border-top-color: #9acd32;}
