/*========== B A C K G R O U N D    S K I N S =============*/
.theme-bg,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.navbar-toggle .icon-bar,
.progress-bar,
.icon-dot,
.work-carousel.owl-theme .owl-dots .owl-dot.active span,
.work-carousel.owl-theme .owl-dots .owl-dot:hover span,
.latest-blog-list .date:hover,
.subscribe-wrapper,
.balls div {
	background-color: #800080;
}

.thumb-wrapper .bg-overlay,
.team-hover {
    background-color: rgba(77, 0, 77, 0.9);
}

.subscribe-form .form-control {
    background-color: #4d004d;
}


/*========== C O L O R    S K I N S =============*/
.header > span,
.btn-primary,
.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:active:focus,
.highlight,
.navbar-brand:hover,
.nav > li > a:hover,
.navbar-nav > li.active > a,
.nav > li > a:focus,.hi-icon-effect-1a .hi-icon:hover,
.section-title h1,
.about-item h2,
.timer,
.featured-item:hover .title h3,
.customer-testimonial h2,
.ih-item.circle.effect1 .info h3,
.blog-post h3 a:hover,
.post-meta li a:hover,
.subscribe-form .btn,
.subscribe-form input[type="email"]::-webkit-input-placeholder,
.subscrib6,
.featured-item .fa,
a {
	color: #800080;
}


/*========== B O R D E R    S K I N S =============*/
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.form-control:focus,
.featured-item:hover .icon {
	border-color: #800080;
}

.header > span {
	border-top: 5px solid #800080;
	border-bottom: 5px solid #800080;
}

.ih-item.circle.effect1 .spinner {
  border-right-color: #800080;
  border-bottom-color: #800080;
}

.team-member .team-intro {
    border-bottom: 1px solid #800080;
}