/* Dark Body
================================================== */

body.dark .bl-main>section:nth-child(4),
body.dark .resume-container,
body.dark .resume-list-item:not(.is-active) .resume-list-item-inner,
body.dark .resume-card-header,
body.dark .bl-main>section:nth-child(4).bl-expand .contact .leftside {
	
	background: #111;
	
}

body.dark .bl-main>section:nth-child(2),
body.dark .bl-main>section:nth-child(3),
body.dark .resume-card-body,
body.dark .bl-main>section.bl-expand,
body.blog.dark,
body.blog.dark .btn.back {
	
	background: #222;
	
}

body.dark .page-title h2 span:first-child,
body.dark .page-title h2 span:nth-child(2)::before,
body.dark .personal-info h6,
body.dark .personal-info ul li span,
body.dark .resume-content h6,
body.dark .bl-main>section:nth-child(4).bl-expand .contact .rightside h6,
body.blog.dark  article h4,
body.blog.dark .sidebar .widget-title,
body.blog.dark .widget-tags ul > li a:hover {
	
	color: #fff;
	
}

body.dark .title-bg {
	
	color: rgba(255, 255, 255, 0.07);
	
}

body.dark .bl-content p,
body.dark .personal-info ul li,
body.dark .badges h6,
body.dark .bl-main>section:nth-child(4).bl-expand .contact .leftside,
body.dark .bl-main>section:nth-child(4).bl-expand .contact .rightside .input-field label,
body.blog.dark .widget.recent-posts .entry-title a,
body.blog.dark .widget-search input {
	
	color:#eee;
	
}

body.dark .bl-main>section:nth-child(4).bl-expand .contact .rightside .input-field label.active {
	color:#eee !important;
}

body.dark .my-picture {
	border: 3px solid #313131;
}

body.dark .resume-list-item {
    background: rgba(255, 255, 255, 0.1) !important;
}

body.dark .resume-card-header {
	border-bottom: 1px solid #333;
}

body.dark .resume-card {
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
}

body.dark .resume-list-item:not(.is-active):hover {
	background: rgba(255, 255, 255, 0.15) !important;
}

body.dark .badges h3 i,
body.dark .divider .fa{
	color:#777;
}

body.dark .divider .outer-line {
	border-bottom: 1px solid #555;
}

body.dark .resume-list-item-title {
	color:#888;
}

body.dark #bl-work-items>div a, body.dark .bl-main>section:nth-child(4).bl-expand .contact .leftside {
	border:1px solid #333;
}

body.dark .bl-main>section:nth-child(4).bl-expand .contact .leftside span i {
	color: rgba(255, 255, 255, .3);
}

body.dark .bl-main>section:nth-child(4).bl-expand .contact .rightside .input-field input[type=text],
body.dark .bl-main>section:nth-child(4).bl-expand .contact .rightside .input-field input[type=email],
body.dark .bl-main>section:nth-child(4).bl-expand .contact .rightside .input-field textarea {
	color:#fff !important;
	border-bottom:1px solid #555;
}

body.blog.dark p,
body.blog.dark  .meta span {
	color:#eee;
}

body.blog.dark  .widget {
	background-color:#333;
}

body.blog.dark  .widget.recent-posts ul li,
body.blog.dark  .sidebar ul.nav-tabs li {
	border-bottom: 1px solid #555;
}

body.blog.dark .sidebar ul.nav-tabs li a,
body.blog.dark .widget-tags ul > li a {
	color:#aaa;
}

body.blog.dark .meta {
	border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

body.blog.dark .pagination li:hover {
	background:#333;
}

body.blog.dark .pagination li a {
	color:#eee;
}

body.blog.dark .widget.recent-posts ul li:last-child {
	border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

body.blog.dark .comments-form  form .input-field label{
	color:#eee;
}

body.blog.dark .comments-form  form .input-field label.active {
	color:#eee !important;
}

body.blog.dark .comments-form  form .input-field input[type=text],
body.blog.dark .comments-form  form .input-field input[type=email],
body.blog.dark .comments-form  form .input-field textarea {

	color:#fff !important;
	border-bottom:1px solid #555;
	
}

body.blog.dark .comments-heading,
body.blog.dark .comments-list .comment-author,
body.blog.dark .comments-list .comment-reply {

	color:#fff;
	
}

body.blog.dark .comments-list .comment-date {
	color:#aaa;
}